{% load static %}
<html>

<head>
    <title>{% block title %}{% endblock title %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
{#    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400">#}
    <link rel="icon" type=image/x-icon" href="{% static '/images/favicon.ico' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}">
    {% block css %}{% endblock css %}
</head>

<body>
    <div class="header-container sticky-top">
        <div class="jumbotron text-center" style="margin-bottom:0">
            <h1><a href="/">ElBowSpace Home</a></h1>
        </div>

        <nav class="navbar navbar-expand navbar-dark bg-dark">
              <a class="navbar-brand" href="/"><img src="{% static '/images/favicon-32x32.png' %}" alt="Elbow icon"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto">
                          <li class="nav-item active">
                            <a class="nav-link" href="/">[  Home  ]<span class="sr-only">(current)</span></a>
                          </li>
                        {% if user.is_authenticated %}
                              <li class="nav-item active">
                                <a class="nav-link" href="{% url 'logout' %}">[  Logout  ]<span class="sr-only">(current)</span></a>
                              </li>
                              <li class="nav-item active">
                                <a class="nav-link" href="{% url 'user_list' %}">[  User List  ]<span class="sr-only">(current)</span></a>
                              </li>
                              <li class="nav-item active">
                                <a class="nav-link" href="{% url 'post_list' %}">[  Post List  ]<span class="sr-only">(current)</span></a>
                              </li>
                              <li class="nav-item active">
                                <a class="nav-link" href="https://github.com/ElBowSpace/ElBowSpaceProject/issues"
                                                   target="_blank">[  Log an Issue  ]<span class="sr-only">(current)</span></a>
                              </li>
                        {% else %}
                            <li class="nav-item active">
                            <a class="nav-link" href="{% url 'login' %}">[  Login  ]<span class="sr-only">(current)</span></a>
                              </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'signup' %}">[  Sign Up  ]<span class="sr-only">(current)</span></a>
                            </li>
                        {% endif %}
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'tutorial' %}">[  User Guide  ]<span class="sr-only">(current)</span></a>
                            </li>
                    </ul>
{#                    <form class="form-inline my-2 my-md-0">#}
{#                        <input class="form-control" type="text" placeholder="Search">#}
{#                    </form>#}
              </div>
        </nav>
    </div>
    <div class="content container">

        <div class="row">
            <div class="col-md-12">
                {% block content %}
                {% endblock content %}
            </div>
{#            <div class="col-md-4">#}
{#            </div>#}
        </div>
    </div>
</body>

</html>
