{% extends 'base.html' %}
{% block title %}ElBowSpace{% endblock title%}
{% block content %}
    <h1>Contents</h1>
    <ul>
        <li><a href="{% url 'index' %}">Index Check</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li><a href="{% url 'user_list' %}">User List</a></li>
            <li><a href="{% url 'post_list' %}">Post List</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}
    </ul>
{% endblock content%}
