<h1>ElBowSpace Application</h1>

<p>Welcome to ElBowSpace, the latest in social media greatness!</p>

<h2>ElBowSpace Development Views</h2>

<ul>
    <li><a href="register.html">Register</a></li>
    <li><a href="login.html">Log in</a></li>
    <li><a href="logout.html">Log Out</a></li>
    <li><a href="user_new.html">New User</a></li>
    <li><a href="user_list.html">View All Users</a></li>
    <li><a href="user_edit.html">Edit User</a></li>
    <li><a href="user_delete.html">Delete user</a></li>
    <li><a href="post_new.html">New Post</a></li>
    <li><a href="post_list.html">View All Posts</a></li>
    <li><a href="post_edit.html">Edit Post</a></li>
    <li><a href="post_delete.html">Delete Post</a></li>
</ul>









