{% extends 'base.html' %}
{% load static %}
{% block title %}Post Detail{% endblock title %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'elbow_space_css/card.css' %}">{% endblock css %}
{% block content %}
    {% if user.is_authenticated %}
            {% for post in post_list %}
                <div class="card">
                    <div class="container" id="card_stuff">
                        <div class="post-entry">
                            <h2>reply to post: {{ post.reply.id }}</h2>
                            <h2>author: {{ post.user.username }}</h2>
                            <div class="pbody" id="post-body">
                                <p> {{ post.body }} </p>
                            </div>
                        </div>
                        {% if user.pk == post.user.pk %}
                            <p><a href="{% url 'post_edit' post.pk %}">Edit Post</a></p>
                            <p><a href="{% url 'post_delete' post.pk %}">Delete Post</a></p>
                        {% endif %}
                        <p><a href="{% url 'post_list' %}">Return to post list</a></p>
                    </div>
                </div>
                <div class="card">
                    <div class="container" id="card_stuff">
                        <p>{% include '_new_post_reply.html' %}</p>
                    </div>
                </div>
            {% endfor %}
    {% endif %}
{% endblock content %}