{% extends 'base.html' %}
{% load static %}
{% block title %}Post List{% endblock title %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'elbow_space_css/card.css' %}">{% endblock css %}
{% block content %}
    {% if user.is_authenticated %}
        {% include '_new_post.html' %}
        {% for post in post_list %}
            <div class="card">
                <div class="container">
                    <hr>
                    <div><a href="{% url 'post_detail' post_pk=post.pk %}">
                        Post at: {{ post.time_stamp }} by: {{ post.user.username }}</a></div>
                    <p>{{ post.body }}</p>
                    <hr>
                </div>
            </div>
        {% empty %}
            <div class="card">
                <div class="container">
                    <div>No posts yet.</div>
                </div>
            </div>
        {% endfor %}

            <p><a href="{% url 'user_list' %}">Return to user list</a></p>
    {% else %}
        {% include '_missing.html' %}
    {% endif %}
{% endblock content %}
