{% extends 'base.html' %}
{% load static %}
{% block title %}User Guide{% endblock title%}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'elbow_space_css/card.css' %}">{% endblock css %}
{% block content %}
    <div class="card">
        <div class="container">
            <p>
            Welcome to the ElbowSpace User Guide.  If you find yourself elsewhere on the site and want to get
                back, just click the 'User Guide' link in the contents box again.
            </p>
        </div>
        <div class="container">
            <p>
            <img src="{% static '/images/tutorial/user_guide_link.png' %}" alt="user guide link location">
            </p>
        </div>
    </div>
    <div class="card">
        <div class="container">
            <p>
            As you might imagine, to make connections on this site you first need to sign up.  Click the link
                that says sign up to get started.
            </p>
        </div>
        <div class="container">
            <p>
            <img src="{% static '/images/tutorial/sign_up_link.png' %}" alt="sign up link location">
            </p>
        </div>
    </div>
    <div class="card">
        <div class="container">
            <p>
            We can fill out a new user we'll call 'Generic Person.'  Your user name, a unique identifier,
                and your password are both needed to move forward.  Just note, if you leave the first and
                last name blank people will have trouble finding you later.  Click the 'Sign Up' button to continue.
            </p>
        </div>
        <div class="container">
            <p>
            <img src="{% static '/images/tutorial/sign_up_gp.png' %}" alt="generic person sign up">
            </p>
        </div>
    </div>
    <div class="card">
        <div class="container">
            <p>
            If the username was unique and your password was good then you should be redirected to the ElBow Space
                home page.  Congrats, you've signed up and if you look to contents you've also been automatically
                logged in.  See the different options?  'Login' and 'Sign Up' were replaced with 'Logout', 'User List',
                and 'Post List'.  Lets have a look at the User List first by clicking the link.
            </p>
        </div>
        <div class="container">
            <p>
            <img src="{% static '/images/tutorial/logged_in_contents.png' %}" alt="logged in at home">
            </p>
        </div>
    </div>
    <div class="card">
        <div class="container">
            <p>
            The User List is where you'll see your potential connections.  For now the list is small and easy to
                navigate, but with more use a search feature will be added to help you find people.  Did you notice
                you have already been added to the list?  The number next to your name is a unique id we use to
                find and sort people quickly in our database, it doesn't mean anything here and likely won't be
                visible later.  Click on your name to see your options.
            </p>
        </div>
        <div class="container">
            <p>
            <img src="{% static '/images/tutorial/user_list.png' %}" alt="the user list">
            </p>
        </div>
    </div>
    <div class="card">
        <div class="container">
            <p>
            User detail is displayed such as name and email, but if you want to do any editing you'll have to click
                the 'edit user' link.
            </p>
        </div>
        <div class="container">
            <p>
            <img src="{% static '/images/tutorial/user_self_detail.png' %}" alt="user detail">
            </p>
        </div>
    </div>
    <div class="card">
        <div class="container">
            <p>
            Here's where you can edit your name, email, and password.  Saving will return you to your detail page.
            </p>
        </div>
        <div class="container">
            <p>
            <img src="{% static '/images/tutorial/edit_user.png' %}" alt="edit user">
            </p>
        </div>
    </div>
    <div class="card">
        <div class="container">
            <p>
            Lets try making a new post for ourselves.  Click the link to 'New Post' to continue.
            </p>
        </div>
        <div class="container">
            <p>
            <img src="{% static '/images/tutorial/new_post.png' %}" alt="new post">
            </p>
        </div>
    </div>
    <div class="card">
        <div class="container">
            <p>
            Type in a message for all to see and hit 'Save!'
            </p>
        </div>
        <div class="container">
            <p>
            <img src="{% static '/images/tutorial/first_post.png' %}" alt="first post">
            </p>
        </div>
    </div>
    <div class="card">
        <div class="container">
            <p>
            You've been taken to a page showing only the posts made by you.  Tada!  There is another link here
                from your user detail page 'All Post by *name*'  The line at the top there in the image below
                is an edit post link to let you fix spelling mistakes.  It is always available to you on your
                own posts.  You can also delete the post there.
            </p>
        </div>
        <div class="container">
            <p>
            <img src="{% static '/images/tutorial/only_your_posts.png' %}" alt="see your posts here">
            </p>
        </div>
    </div>
{% endblock content%}