{% extends 'base.html' %}
{% load static %}
{% block title %}User Detail{% endblock title%}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'elbow_space_css/card.css' %}">{% endblock css %}
{% block content %}
    {% if user.is_authenticated %}
        {% for person in user_list %}
            <div class="card">
                <div class="container">
                    <div class="user-entry">
                        <h2>id: {{ person.id }}</h2>
                        <p>first: {{ person.first_name }}</p>
                        <p>last: {{ person.last_name }}</p>
                        <p>email: {{ person.email }}</p>
                    </div>
                </div>
                <div class="container">
                    {% if user.pk == person.pk %}
                        {# This three parameter url is a bug fix.  Necessary if multiple users have the same name. #}
                        <p><a href="{% url 'user_edit' last_name=user.last_name first_name=user.first_name pk=user.pk %}">Edit user</a></p>
                        <p><a href="{% url 'new_post' author_pk=user.id %}">New Post</a></p>
                        <p><a href="{% url 'user_delete' pk=user.id %}">Delete User</a></p>
                    {% else %}
                        {% if 'connections' == True %}
                            <p>Connected</p>
                        {% else %}
                            <p><a href="{% url 'make_connection' sender_pk=user.pk receiver_pk=person.pk%}">Make connection with {{ person.first_name }}</a></p>
                        {% endif %}
                    {% endif %}
                    <p><a href="{% url 'post_list' pk=person.id %}">All Post by {{ person.first_name }}</a></p>
                    <p><a href="{% url 'user_list' %}">Return to user list</a></p>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}