{% extends 'base.html' %}
{% block title %}User List{% endblock title %}
{% block content %}
    {% if user.is_authenticated %}
        <ul> {% for person in user_list %}
            <div class="row"><a href="{% url 'user_detail' pk=person.pk user_pk=user.pk%}">
                User: {{ person.pk }} {{ person.first_name }} {{ person.last_name }}</a></div>
            {% empty %}
                <div class="row">No users yet.</div>
         {% endfor %}
        </ul>
    {% endif %}
{% endblock content %}